/* @import url(fonts.css); */

@import url(reset.css);

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,700&display=swap");

body {
	font-family: "Inter", sans-serif;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

.header,
.footer {
	min-height: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #574083;
	color: #FFBE48;
	margin: 0 auto;
} 


.header .container {
	max-width: 1230px;
	margin: 0 auto;
}

.task-list>li {
	display: inline-block;
	margin-right: 70px;
	text-align: center;
	vertical-align: middle;
}

.task-list,
.up {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.5;
	text-align: center;
}


.task-list>li:hover,
.up:hover{
	color: #eee789;
	text-shadow: 0 0 10px #fff;
}

/* TASK 1 */

#task-1 {
	background-color: #412672;
	font-size: 0;
}

#task-1 .container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 60px 15px 102px 15px;

}

#task-1 h2 {
	display: block;
	color: #fff;
	font-size: 38px;
	margin-bottom: 30px;
}

#task-1 h2>strong {
	display: block;
}

.card {
	display: inline-block;
	background-color: #fff;
	font-family: "Inter", sans-serif;
	max-width: 387px;
	width: 100%;
	min-height: 476px;
	padding: 20px;
	margin-right: 19px;
	vertical-align: top;
}

.card:last-child {
	margin-right: 0;
}

.cards .img {
	width: 100%;
	margin-bottom: 16px;
}

.cards h3 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 16px;
}

.card-text {
	min-height: 76px;
	font-size: 15px;
	line-height: 1.26;
	color: #4F4F4F;
	margin-bottom: 16px;
}

.card a {
	color: #FE3F3F;
	font-size: 15px;
	line-height: 1.26;
}

.card a:hover{
text-decoration: underline;
font-weight: 700;
}

.card:hover {
	background: #FFBE48;
	box-shadow: 0px 384px 108px 0px rgba(0, 0, 0, 0.00), 0px 246px 98px 0px rgba(0, 0, 0, 0.01), 0px 138px 83px 0px rgba(0, 0, 0, 0.05), 0px 62px 62px 0px rgba(0, 0, 0, 0.09), 0px 15px 34px 0px rgba(0, 0, 0, 0.10);
}


/* TASK-2 */

#task-2 .container {
	font-size: 0;
	max-width: 1400px;
	margin: 0 auto;
	padding: 55px 15px 72px 15px;
}

#task-2 .about {
	display: inline-block;
	max-width: 518px;
	color: #412672;
	margin-right: 58px;
	vertical-align: middle;
}

.about h2,
.about h2>strong {
	display: block;
	font-size: 34px;
	margin-bottom: 20px;
}

.about p {
	font-size: 22px;
	margin-bottom: 20px;
}

#task-2 ul>li {
	font-size: 20px;
	line-height: 255%;
	color: #4F4F4F;
}

.photos {
	display: inline-block;
	vertical-align: middle;
}

.picture {
	display: block;
	max-width: 764px;
	width: 100%;
	margin-bottom: 15px;
}

.points {
	display: block;
	margin: 0 auto;
}

.list__item {
	padding-left: 44px;
}

.list__item::before{
	content: "";
	width: 29px;
	height: 29px;
	background-image: url(../img/tick-circle.png);
	margin: 0 15px 0 -44px;
	vertical-align: middle;
}

/* GAME */

#game {
	background-color: rgba(88, 64, 131, 0.7);
	font-size: 0;
	padding: 20px 0 20px 0;
}

#game .container {
	margin: 0 auto;
	max-width: 1000px;
	padding: 30px 15px;
	background-color: #f3ce8a;
}

.game-field {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}

.brick {
	background-color: rgba(88, 64, 131, 0.874);
	border: 2px solid #000;
	border-radius: 5px;
}

.brick:hover{
	background-color: rgb(66, 5, 85);
	box-shadow: 0 0 5px #000;
}

.brick p{
	margin: 20px auto;
}

.brick-start {
	width: 100px;
	height: 120px;
	background-color: #e04242;
	border-radius: 10px;
}

.brick-start:hover{
	box-shadow: 0 0 6px #000;
	background-color: #fb0606;
}

.arrow-bottom {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 40px solid rgb(48, 0, 52);
	margin: 0 auto;
}

.brick:not(:first-child) {
	visibility: hidden;
}

.brick-start:hover +.brick-1,
.brick-1:hover,
.brick-1:hover +.brick-2, 
.brick-2:hover,
.brick-2:hover +.brick-3,
.brick-3:hover,
.brick-3:hover +.brick-4, 
.brick-4:hover,
.brick-4:hover +.brick-5,
.brick-5:hover,
.brick-5:hover +.brick-6, 
.brick-6:hover,
.brick-6:hover +.brick-7,
.brick-7:hover,
.brick-7:hover +.brick-8, 
.brick-8:hover,
.brick-8:hover +.brick-9,
.brick-9:hover,
.brick-9:hover +.brick-10, 
.brick-10:hover,
.brick-10:hover +.brick-11,
.brick-11:hover,
.brick-11:hover +.brick-12,
.brick-12:hover,
.brick-12:hover +.brick-finish,
.brick-finish:hover {
	visibility: visible;
}

.brick-1 {
	width: 200px;
	height: 30px;
	margin-left: 100px;
	margin-top: -30px;
}

.brick-2 {
	width: 20px;
	height: 150px;
	margin-left: 300px;
	margin-top: -30px;
}

.brick-3 {
	width: 250px;
	height: 25px;
	margin-left: 320px;
	margin-top: -25px;
}

.brick-4 {
	width: 10px;
	height: 170px;
	margin-left: 570px;
	margin-top: -170px;
}

.brick-5 {
	width: 350px;
	height: 25px;
	margin-left: 580px;
	margin-top: -170px;
}

.brick-6 {
	width: 25px;
	height: 350px;
	margin-left: 930px;
	margin-top: -25px;
}

.brick-7 {
	width: 150px;
	height: 40px;
	margin-left: 780px;
	margin-top: -40px;
}

.brick-8 {
	width: 10px;
	height: 150px;
	margin-left: 770px;
	margin-top: -40px;
}

.brick-9 {
	width: 350px;
	height: 30px;
	margin-left: 420px;
	margin-top: -30px;
}

.brick-10 {
	width: 20px;
	height: 200px;
	margin-left: 400px;
	margin-top: -30px;
}

.brick-11 {
	width: 340px;
	height: 15px;
	margin-left: 60px;
	margin-top: -15px;
}

.brick-12 {
	width: 25px;
	height: 100px;
	margin-left: 35px;
	margin-top: -15px;
}

.brick-finish {
	width: 100px;
	height: 120px;
	background-color: #08ce1c;
	border: 2px solid #000;
}

.brick-finish:hover{
	box-shadow: 0 0 8px #000;
	background-color: #9eff5d;
}

.arrow-top {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 40px solid rgb(48, 0, 52);
	margin: 0 auto;
}

.bottom-finish:hover {
	text-decoration: underline;
	color: #fb0606;
}

/* page-01 */

.finish{
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
}


















