@import url(fonts.css);

@import url(reset.css);


body {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.main-container{
	width: 1920px;
	margin: 0 auto;
	background-color: #231F8B;
	margin-bottom: 100px;
}

.container{
	width: 1050px;
	padding: 112px 0;
	margin: 0 auto;
}


.main-content{
	width: 1044px;
	margin: 0 0 70px 0;
}


.main-text strong {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.2px;
	color: #5A54F2;
}

.main-text h2 {
	font-family: "CircularStd", sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	margin: 10px 0;
}

.main-text p {
	max-width: 765px;
}

.main-content p{
	font-family: "CircularStd", sans-serif;
	font-weight: 450;
	line-height: 20px;
	letter-spacing: 0.2px;
	font-style: normal;
	color: #fff;
}

/* CARDS */

.section-cards{
	max-width: 1050px;
	width: 100%;
	font-size: 0;
	padding: 0 4px;
}

.card {
	display: inline-block;
	max-width: 230px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
	letter-spacing: 0.2px;
	color: #737373;
	padding: 35px 40px;
}

.card-dark {
	background-color: #5A54F2;
	color: #fff;
}

.margin-right {
	margin-right: 40px;
}

.top {
	vertical-align: top;
}

.card-dark h3 {
	color: #fff;
}

.card-top-indent {
	margin-top: 48px;
}

h3 {
	font-family: "CircularStd", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.1px;
	margin-bottom: 20px;
	color: #252B42;
}

.card img {
	margin-bottom: 20px;
}

.card  p {
	font-size: 14px;
}

.line-red {
	background-color: #E74040;
	width: 50px;
	height: 2px;
	margin-bottom: 20px;
}


/* PRACTICE */

.practice {
	max-width: 1920px;
	background-color: #0e2044;
	margin: 0 auto;
	padding: 50px;
}

.blocks {
	height: 600px;
	text-align: center;
	background-color: #cadffb;
	padding: 40px 20px;
	overflow: auto;
	margin-bottom: 40px;
}

.block {
	display: inline-block;
	font-size: 18px;
	max-width: 300px;
	background-color: #4e6d9a;
	box-shadow: 5px 6px 4px #0e2044;
	padding: 15px 30px;
	margin-right: 30px;
	vertical-align: top;
	text-align: left;
}

.height {
	height: 500px;
	overflow: auto;
}

.block p {
	margin-bottom: 15px;
}

.block ul>li {
	margin-bottom: 10px;
	background-color: #adcbfc;
}

.inline {
	max-width: 1500px;
	background-color: #fbd5e5;
	font-size: 24px;
	line-height: 1.5;
	padding: 20px 40px;
	margin: 0 auto;
	white-space: nowrap;
	overflow: auto;
}

span {
	margin-left: 40px;
}

.img {
	background-color: #4c3c44;
	margin: 0 auto 40px;
	padding: 40px 60px;
	text-align: center;
}

.inline-block {
	padding: 30px 40px;
	max-width: 1200px;
	margin: 0 auto;
	overflow-x: auto;
	white-space: nowrap;
}

.inline-block-img {
	display: inline-block;
	max-width: 600px;
	margin-left: 30px;
}

.img h2 {
	font-size: 30px;
	font-weight: 700;
	line-height: 50px;
	color: #fdeaf2;
	margin-bottom: 30px;
	text-align: center;
}
